.vis-item.vis-range.visc-open-right
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}
.vis-item.vis-range.visc-open-left
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%);
}
.vis-item.vis-range.visc-open-both
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}
.vis-item.vis-range.visc-right-withtail
{
	border-right-style: none;
}
.vis-item.vis-range.visc-right-tail
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.vis-item.vis-range.visc-left-withtail
{
	border-right-style: none;
}
.vis-item.vis-range.visc-left-tail
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
