.vis-item.vis-range.visc-open-right
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}
.vis-item.vis-range.visc-open-left
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%);
}
.vis-item.vis-range.visc-open-both
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}
.vis-item.visc-uncertain
{
	background: repeating-linear-gradient(45deg, #404040, #404040 8px, #4d4d4d 8px, #4d4d4d 16px);
	border-style: dashed;
}
.visc-bg-overlay
{
	z-index: 2;
}
.vis-item.visc-toplabel
{
	z-index: 3;
	background: none !important;
	background-color: transparent !important;
	border: 0;
}
.vis-item.vis-range.visc-right-connection, .vis-item.vis-range.visc-left-tail
{
	border-right-style: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.vis-item.vis-range.visc-right-tail
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.vis-item.vis-range.visc-left-connection, .vis-item.vis-range.visc-right-tail
{
	border-left-style: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.vis-item.vis-range.visc-left-tail
{
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.vis-item-content a {
  color: inherit;
  text-decoration: inherit;
}